.u-section-1 .u-sheet-1 {
    min-height: 194px;
  }
  
  .u-section-1 .u-text-1 {
    margin: 21px auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 20px auto 48px 0;
  }.u-section-2 .u-sheet-1 {
    min-height: 324px;
  }
  
  .u-section-2 .u-table-1 {
    width: 887px;
    margin: 0 auto 58px 0;
  }
  
  .u-section-2 .u-table-entity-1 {
    min-height: 100px;
  }
  
  .u-block-c835-4 {
    font-weight: 700;
    background-image: none;
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-table-1 {
      width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-table-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-table-1 {
      width: 340px;
    }
  }.u-section-3 .u-sheet-1 {
    min-height: 156px;
  }
  
  .u-section-3 .u-list-1 {
    width: 883px;
    margin: 20px auto 60px 0;
  }
  
  .u-section-3 .u-repeater-1 {
    min-height: 76px;
    grid-auto-columns: calc(33.3333% - 26.6667px);
    grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
    grid-gap: 40px 40px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 1px 30px 0;
  }
  
  .u-section-3 .u-shape-1 {
    width: 237px;
    height: 75px;
    margin: 0 0 0 auto;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 1px 30px 0;
  }
  
  .u-section-3 .u-shape-2 {
    width: 237px;
    height: 75px;
    margin: 0 0 0 auto;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 1px 30px 0;
  }
  
  .u-section-3 .u-shape-3 {
    width: 237px;
    height: 75px;
    margin: 0 0 0 auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-repeater-1 {
      grid-auto-columns: calc(33.333333333333336% - 26.666700000000002px);
      grid-template-columns: repeat(3, calc(33.333333333333336% - 26.666700000000002px));
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-list-1 {
      width: 720px;
    }
  
    .u-section-3 .u-repeater-1 {
      min-height: 186px;
      grid-auto-columns: calc(50% - 20.000025px);
      grid-template-columns: repeat(2, calc(50% - 20.000025px));
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-list-1 {
      width: 540px;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-auto-columns: calc(100% - 0px);
      grid-template-columns: 100%;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-list-1 {
      width: 340px;
    }
  
    .u-section-3 .u-repeater-1 {
      grid-auto-columns: 100%;
    }
  }